<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox
      class="checklist-leaf-node"
      [checked]="selection.isSelected(node)"
      (change)="itemSelectionToggle(node)"
      >{{ node.item }}</mat-checkbox
    >
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      [attr.aria-label]="'toggle ' + node.filename"
      matTreeNodeToggle
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <mat-checkbox
      class="checklist-leaf-node"
      [checked]="selection.isSelected(node)"
      (change)="itemSelectionToggle(node)"
      >{{ node.item }}</mat-checkbox
    >
    <mat-progress-spinner
      *ngIf="node.isLoading"
      mode="indeterminate"
      diameter="20"
    ></mat-progress-spinner>
  </mat-tree-node>
</mat-tree>
