<nav class="toolbar" role="banner">
  <img alt="eXplain Logo" src="assets/images/explain_logo.png" />
</nav>

<div class="content" role="main">
  <form id="project-maker-form">
    <div>
      <label for="project-code">Code projet :</label>
      <input id="project-code" name="project-code" type="text" pattern="^[-a-zA-Z0-9\-_]+$" [(ngModel)]="projectCode" />
    </div>
    <div class="distribut">
      <div class="label-on-top">
        <label for="project-sources">Sources</label>
        <app-source id="project-sources" name="project-sources" [sources]="sources" (selectedSources)="selectedSources = $event"></app-source>
      </div>
      <div class="label-on-top">
        <label for="project-territories">Territoires</label>
        <app-territory (selectedTerritories)="selectedTerritories = $event"></app-territory>
      </div>
      <div class="label-on-top">
        <label for="project-themes">Thèmes</label>
        <app-theme id="project-themes" name="project-themes" [themes]="themes" (selectedThemes)="selectedThemes = $event"></app-theme>
      </div>
    </div>
    <div class="align-right">
      <button type="submit" (click)="generateJson()" [disabled]="!canGenerateJson()">Générer la configuration</button>
    </div>
  </form>
</div>
