.toolbar {
  height: 4rem;
  width: 100%;
  background-color: #02b2fc;
  position: fixed;
  display: block;
  top: 0;
  left: 0;

  img {
    margin: 0.5rem;
    height: 3rem;
  }
}

.content {
  margin: 4.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;

    &.distribut {
      justify-content: space-between;
      margin: 0;
    }

    &.label-on-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 70vh;
      max-height: 70vh;
      border: 1px solid black;
      overflow: scroll;

      input {
        height: 20rem;
        vertical-align: text-top;
      }
      select {
        width: 15rem;
        height: 20rem;
      }
    }

    &.align-right {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  label {
    margin-right: 0.5rem;
  }
}
