<mat-selection-list (selectionChange)="onSelectionChange($event)">
  <mat-list-option *ngFor="let source of sources" [value]="source">
    {{ source.name }}
  </mat-list-option>
</mat-selection-list>
